#footer {
    width: 100%;
    height: fit-content;
    background: var(--blue);
    display: flex;
    flex-direction: column;
    padding: 30px 21px;
    color: var(--white);
}
#accordion{
    padding: 20px 15px;
    border-bottom: solid 1px var(--white);
}

.accordion-header {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}
.accordion-header svg{
    margin-top: auto;
    margin-bottom: auto;
    justify-self: end;
}

.accordion-content {
    display: none;
}
.accordion-content ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
    padding-left: 0;
}

.accordion-content ul li{
    list-style: none;
}


@media screen and (min-width: 1000px){
    #footer{
        display: none;
    }
}