:root {
  --blue: #001D5D;
  --green: #42A418;
  --pale-green: #D9F0D0;
  --black: #000;
  --white: #fff;
  --gray: #777;
  --light-gray: #F6F6F6;
  --pale-blue: #B8BFCF;
}
body {
  overflow-x: hidden;
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  box-sizing: border-box;
  height: fit-content;
}

* {
  overflow-x: hidden;
  box-sizing: border-box;
}

*:not(#map) {
  overflow: visible;
}

.button {
  display: flex;
  width: 168px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  background: var(--pale-green);
  color: var(--green);
  border: none;
  overflow: hidden;
  transition-duration: 1s;
}

.button:hover {
  background: var(--green);
  color: var(--white)
}

#app {
width: 100vw;
overflow-x: hidden;
height: fit-content;
min-height: 100%;
}

#hero {
  height: fit-content;
  background-image: url(../public/hero.jpg);
  background-size: cover;
  background-position: 25%;
  width: 100%;
  padding: 69px 20px;
  color: var(--white);
  display: flex;
  flex-direction: column;
}




#hero h1 {
  margin-bottom: 20px;
}

#subtitle {
  max-width: 75%;
}

#play-button {
  border-radius: 100%;
  border-style: none;
  background: var(--white);
  width: 60px;
  height: 60px;
  cursor: pointer;
}
#play-button:hover{
  background: var(--light-gray);
  transition-duration: 1s;
}

#watch-div {
  display: flex;
  gap: 24px;
  margin-top: 54px
}

@media screen and (min-width: 750px){
  #hero {
    padding: 170px 150px;
    gap: 24px;
    background-position: bottom;
    background-repeat: no-repeat;
    animation: zoomInOut 120s infinite alternate ease;
  }
  
  @keyframes zoomInOut {
    0% {
      background-size: 100%;
    }
    50% {
      background-size: 130%;

    }
    100% {
      background-size: 100%;
    }
  }
  
  #subtitle {
    width: 567px;
  }
  #hero h1 {
    margin-bottom: 0px;
  }
  #watch-div {
    margin-top: 0px
  }

}


#brent-div {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 35px 0;
}

#brent-div button{
  margin: 0 23px;
}

 #brent-div h3 {
   color: var(--blue);
   margin: 0;
 }

 #brent-img {
  width: 100%;
  height: 400px;
  background-image: url(../public/brent.jpg);
  background-size: cover;
  background-position: center;
}

 #brent-content {
  padding: 0 23px;
  color: var(--gray);
  display: flex;
  flex-direction: column;
  gap: 6p;
}

#desktop-brent-button {
  display: none;
}



@media screen and (min-width: 1000px){
  
#brent-div {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 128px 50px;
  height: fit-content;
  min-height: 455px;
  justify-content: center;
}
#brent-img {
  width: 50vw;
  display: flex;
  align-items: stretch;
  background-image: url(../public/brent.jpg);
  background-size: cover;
  background-position: center;
  max-width: 800px
}
#brent-content {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  max-width: 800px
}
#mobile-brent-button {
  display: none;
}
#desktop-brent-button {
  display: block;
}
#brent-div button {
  margin: 0px;
}

}