:root {
  --blue: #001D5D;
  --green: #42A418;
  --pale-green: #D9F0D0;
  --black: #000;
  --white: #fff;
  --gray: #777;
  --light-gray: #F6F6F6;
  --pale-blue: #B8BFCF;
}


.button {
  display: flex;
  width: 168px;
  height: 48px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  background: var(--pale-green);
  color: var(--green);
  border: none;
}

.button:hover {
  background: var(--green);
  color: var(--white)
}