#footer-desktop {
    display: none;
}

@media screen and (min-width: 1000px){
    #footer-desktop{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        background: var(--blue);
        padding: 70px 60px 10px 50px;
        color: var(--white);
        gap: 58px
    }
    #links-and-media-footer {
        border-top: solid 1px white;
        display: flex;
        justify-content: space-between;
        padding: 24px 0px;
    }
}